.header {
    background: #000;
    width: 100%;
}

.header__inner {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.header-utilities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header__link {
    display:block;
    line-height: 100%;
    align-items: center;
    width:25%;
    margin:1%;
}

.header__logo {
    display: inline-block;
    width:100%;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 75%;
    align-items: center;
}

.header-nav__item {
    display: block;
    width: 15%;
    height:100%;
    text-align: center;
    margin-right: 5px;
}

.header-nav__link {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 1.4vw;
    cursor: pointer;
    width: 100%;
}

.header-nav__logout {
    display: block;
}

.header-nav__logout--button {
    color: #fff;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    border: none;
    background: transparent;
    font-size: 1.2vw;
    cursor: pointer;
}