.content {
    display: block;
    text-align: center;
    margin-top: 10vw;
    align-items: center;
    width: 50vw;
    margin: 10vw auto;
}

.content__text {
    font-family: "Inter", sans-serif;
    font-size: 1.4vw;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}

.content__link {
    display: block;
    background: #D9D9D9;
    padding-top: 1.4vw;
    width: 18vw;
    height: 4.5vw;
    border: none;
    border-radius: 0.5vw;
    font-family: "Inter", sans-serif;
    font-size: 1.4vw;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    cursor: pointer;
    text-align: center;
    line-height: 100%;
    margin: 3vw auto;
}

.content__form {
    display: block;
}

.content__form--button {
    border: none;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-size: 1.2vw;
    font-weight: 200;
    font-style: normal;
    color: #0073CC;
    margin-top: 2vw;
}